//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
$sideBarWidth: 180px;

// txt color
$mainTxt: #303133;
$normalTxt: #606266;
$secondaryTxt: #909399;
$holdTxt: #C0C4CC;

// border color
$oneBorder: #DCDFE6;
$twoBorder: #E4E7ED;
$threeBorder: #EBEEF5;
$fourBorder: #F2F6FC;